<% if (page.categories && page.categories.length) { %>
    <span class="article-categories">
        分类：<%- list_categories(page.categories, { show_count: false, style: 'link' }) %>
    </span>
<% } %>
