.highlight.html .code:after,
.highlight.js .code:after,
.highlight.javascript .code:after,
.highlight.bash .code:after,
.highlight.css .code:after,
.highlight.scss .code:after,
.highlight.diff .code:after,
.highlight.java .code:after,
.highlight.xml .code:after,
.highlight.python .code:after,
.highlight.json .code:after,
.highlight.swift .code:after,
.highlight.ruby .code:after,
.highlight.perl .code:after,
.highlight.php .code:after,
.highlight.c .code:after,
.highlight.cpp .code:after,
.highlight.ts .code:after  
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.75em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600
 

.highlight.html .code:after  
    content: "HTML"
 

.highlight.js .code:after,
.highlight.javascript .code:after
    content: "JS"
 

.highlight.bash .code:after  
    content: "BASH"
 

.highlight.css .code:after  
    content: "CSS"
 

.highlight.scss .code:after  
    content: "SCSS"
 

.highlight.diff .code:after  
    content: "DIFF"
 

.highlight.java .code:after  
    content: "JAVA"
 

.highlight.xml .code:after  
    content: "XML"
 

.highlight.python .code:after  
    content: "PYTHON"
 

.highlight.json .code:after  
    content: "JSON"
 

.highlight.swift .code:after  
    content: "SWIFT"
 

.highlight.ruby .code:after  
    content: "RUBY"
 

.highlight.perl .code:after  
    content: "PERL"
 

.highlight.php .code:after  
    content: "PHP"
 

.highlight.c .code:after  
    content: "C"
 

.highlight.java .code:after  
    content: "JAVA"
 

.highlight.cpp .code:after  
    content: "CPP"
 

.highlight.ts .code:after  
    content: "TS"
 

.highlight.cpp .code:after  
    content: 'C++'
 

pre  
    color: #525252
 

pre .function .keyword,
pre .constant  
    color: #0092db
 

pre .keyword,
pre .attribute  
    color: #e96900
 

pre .number,
pre .literal  
    color: #ae81ff
 

pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special  
    color: #2973b7
 

pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp  
    color: #42b983
 

pre .title  
    color: #83B917
 

pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt  
    color: #42b983
 

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula  
    color: #b3b3b3
 

pre .deletion
    color: #BA4545

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata 
    opacity: 0.5